<h1>{{title}}</h1>
<h2>Using this user interface, you can invoke the <a href="https://github.com/ghareeb-falazi/SCIP-CaseStudy">sample case
  study</a> motivating workflow.</h2>
<div>
  <span>
    You can query the latest state of the energy management system at any time by clicking on the <em>Query State</em> button.
    Furthermore, in order to trigger the workflow, click on the <em>Start</em> button.
  </span>
</div>

<div id="wrapper">
  <div id="left">
    <button [disabled]="querying" id="button" mat-raised-button (click)="query()">Query State</button>
    <mat-card *ngIf="!querying">
      <mat-list *ngIf="ems">
        <mat-list-item>
          Bulk Price (€): {{ems.powerPlantPrice}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Retail Price (€): {{ems.powerProviderPrice}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Bulk Energy Balance (MWh): {{ems.powerPlantAmount}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Retail Energy Balance (MWh): {{ems.powerProviderAmount}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Power Plant Balance (€): {{ems.powerPlantBalanceEur}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Power Provider Balance (€): {{ems.powerProviderBalanceEur}}
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card *ngIf="querying">Query running..</mat-card>
  </div>
  <div id="right">
    <button [disabled]="workflowRunning" id="button2" mat-raised-button (click)="startWorkflow()">Start Workflow</button>
    <mat-card id="blackScreen">
      <mat-list *ngIf="workflowRunning && logs">
        <mat-list-item *ngFor="let log of logs" style="margin: 0px;color: aliceblue">
          {{log.isError?'[ERR] ': ''}}{{log.isoDateTime + ' '}}{{log.message}}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
